body {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    color: var(--color-primary);
    line-height: 1.6;
    background: var(--color-background-primary);
    font-weight: 300;
}
