:root {
    --color-white: #fff;
    --color-black: #0c0f0a;

    --color-primary: #202020;
    --color-secondary: #ba9338;

    --color-content-hover: #debe6c;

    --color-background-primary: #f5f2e8;
    --color-background-secondary: var(--color-white);
    --color-background-tertiary: rgba(155, 88, 46, 0.7);
}
