:root {
    --font-primary: 'Sen', Helvetica, Arial, sans-serif;
    --font-secondary: 'Readex Pro', Helvetica, Arial, sans-serif;

    --font-size-content: 0.875rem;
    --font-size-menu: 1.25rem;
}
